/* Add custom styling here */
body {
  background-color: grey;
}

.App-header {
  background-color: black;
  color: white;
  width: 100%;
}

.d-flex {
  display: flex;

}

.justify-content-around {
  justify-content: space-around;
}

.align-itmes-center {
  align-items: center;
}

.center {
  text-align: center;
}
button {
  background-color: #E6E6FA;
  color: black;
  border: 2px solid black;
  height: 30px;
  width: 50px;
}

.display {
  display:block;
}

.no-display {
  display:none;
}

